# Datos y Videos (Pesados)
datosCrudos/
dataset_curado/
frames_temp/
verificacion_manual/

# Modelos IA (Mantener excluidos los .pt pesados por seguridad del repo)
*.pt
*.pth
**/weights/

# Python y Logs
__pycache__/
*.log
# logs/ <-- Comentado para permitir archivos específicos o toda la carpeta si se desea
.ipynb_checkpoints/

# Permitir archivos específicos en logs
!logs/*.log
!logs/*.csv
!logs/*.txt

# Bitácoras de datos
registro_procesamiento.csv

# Dataset y Salidas de Entrenamiento
dataset_final_yolo/
dataset_v3_medium/

# --- REGLA SURGICAL PARA RUNS (SOLO GRÁFICAS Y MÉTRICAS) ---
# Ignorar el contenido de runs pero permitir carpetas
runs/**/*
!runs/**/

# Excluir específicamente carpetas masivas de inferencia
runs/conteo_moscas*/

# Permitir solo archivos específicos de resultados
!runs/**/*.png
!runs/**/*.jpg
!runs/**/*.csv
!runs/**/*.yaml

# Ignorar explícitamente los JSON pesados de predicciones
runs/**/*.json

!visualizacion_tesis/

# Permitir resúmenes específicos en logs
!logs/resumen_validaciones_finales.txt

verificacion_*/
sam3/

dataset_v2_simplified/
